* {
    --white: #ffffff;
    --gray: hsl(224, 30%, 60%);
    --gray-bold: hsl(224, 30%, 30%);
    --red: hsl(0, 100%, 67%);
    --light-red: hsl(0, 100%, 97%);
    --yellow: hsl(39, 100%, 56%);
    --light-yellow: hsl(39, 100%, 97%);
    --green: hsl(166, 100%, 37%);
    --light-green: hsl(166, 100%, 97%);
    --blue: hsl(234, 85%, 45%);
    --light-blue: hsl(234, 85%, 97%);
    --light-lavander: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --pale-blue: hsl(221, 100%, 96%);
    --slate-blue: hsl(252, 100%, 67%);
    --royal-blue: hsl(241, 81%, 54%);
    /* Circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    /* Circle */
    --persian-blue: hsla(241, 72%, 46%, 1);
}
